:host {
  display: block;
}

.h1,
.h2,
.h3,
.p {
  margin: 0;
  line-height: 1.2;
  color: var(--text-color);
  font-family: var(--font-family-primary);
}

.xs {
  font-size: 0.7rem;
}

.s {
  font-size: 0.75rem;
}

.m {
  font-size: 1rem;
}

.l {
  font-size: 1.25rem;
}

.xl {
  font-size: 2rem;
}

.center {
  text-align: center;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

 .weight-regular {
    font-weight: 400;
  }

  .weight-medium {
    font-weight: 500;
  }

  .weight-semibold {
    font-weight: 600;
  }

  .weight-bold {
    font-weight: 700;
  }
