.section-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding: 0;
  margin: 0 auto;
  max-width: 1120px;
}

.filter {
  display: flex;
  gap: 0.75rem;
  
}
type-text {
  flex: 0 0 auto;
}
@media (max-width: 600px) {
  .section-header {
    flex-direction: column;
    align-items: stretch;
    gap: 1rem;
  }

  .filter {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}