.section-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding: 0;
  margin: 0 auto;
  max-width: 1120px;
}

.filter {
  display: flex;
  gap: 0.75rem;
  
}
type-text {
  flex: 0 0 auto;
}
@media (max-width: 665px) {
  .section-header {
    align-items: center; /* centra todo */
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    text-align: center;
  }

  .filter {
    width: 100%;
    width: auto; 
justify-content: center;
    display: flex;
    justify-content: space-between;
  }
}