button {
  border: none;
  border-radius: 10rem;
  cursor: pointer;
  font-size: 1rem;
  padding: 0.5rem 0.9rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;

  /* Variantes */
  &.primary {
    background-color: var(--color-primary);
    color: #ffffff;
    border: 2px solid transparent;
    &:hover:not(:disabled) {
      background-color: var(--color-primary-hover);
    }
    &:focus {
      border: 2px solid var(--color-primary);
      outline: none;
    }
  }

  &.secondary {
    background-color: var(--color-surface);
    color: var(--color-text);
    border: 2px solid var(--color-border);
    &:hover:not(:disabled) {
      border: 2px solid var(--color-primary);
    }
    &:focus {
      border: 2px solid var(--color-primary);
      outline: none;
    }
  }
&.tertiary {
  width: 50px;
  height: 50px;

  padding: 0;
  min-width: 50px;

  border-radius: 16px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--color-muted);
  box-shadow: 0 1px 2px var(--color-shadow);
}



  /* Tamaños */
  &.s {
    font-size: 0.875rem;
    padding: 0.4rem 0.75rem;
  }

  &.m {
    font-size: 1rem;
  }

  &.l {
    font-size: 1.3rem;
  }
}
