.container-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.25rem;
  padding: 2rem;
}

/* Tablet */
@media (max-width: 1024px) {
  .container-list {
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    padding: 2rem;
  }
}

/* Tablet pequeña */
@media (max-width: 768px) {
  .container-list {
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    padding: 1.5rem;
  }
}

/* Móvil */
@media (max-width: 480px) {
  .container-list {
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 1rem;
    padding: 1rem;
  }
}