/* Desktop */
.container-list {
  display: grid;
  max-width: 1120px;
  margin: 1.5rem auto 0 auto;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
}
/* Tablet */
@media (max-width: 920px) {
  .container-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Mobile */
@media (max-width: 665px) {
  .container-list {
    grid-template-columns: 1fr;
    padding: 1rem;
  }

  .card {
    width: 100%;
    max-width: none;
  }
  
}