.header {
  max-width: 1200px;
  margin: 2rem auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 12px;
  margin-bottom: 2rem;
  border-radius: 12px;
  border: 1px solid #ddd;
  background-color: #fff;
  padding: 1rem 1.5rem;

  &__brand {
    display: flex;
    align-items: center;
    gap: 1rem;

    type-text {
      flex: none;
    }
  }
}

$header-icon-size: 13rem;

.logo type-icon {
  --type-icon-size: #{$header-icon-size};
  display: block;
}
